.u-section-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/-min1.jpg");
  background-position: 50% 50%;
  min-height: 831px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 676px);
  height: 394px;
  background-image: none;
  margin: 60px 0 0 auto;
}

.u-section-1 .u-slider-1 {
  width: 662px;
  min-height: 547px;
  margin: -315px 558px 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: 32px;
  height: 10px;
  top: auto;
  left: 0;
  right: auto;
  bottom: -30px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/-min2.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  width: 51px;
  height: 51px;
  left: 0;
  top: auto;
  position: absolute;
  background-image: none;
  right: auto;
  bottom: 0;
}

.u-section-1 .u-carousel-control-2 {
  width: 51px;
  height: 51px;
  left: 51px;
  top: auto;
  position: absolute;
  background-image: none;
  right: auto;
  bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 549px;
  min-height: 407px;
  background-image: none;
  margin: -465px 80px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 23px 12px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 30px auto 0 0;
  padding: 10px 43px 10px 41px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 106px calc(((100% - 1140px) / 2)) 60px calc(((100% - 1140px) / 2) + 625px);
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 824px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 676px);
  }

  .u-section-1 .u-slider-1 {
    height: auto;
    margin-top: -316px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 515px;
    min-height: 373px;
    margin-top: -464px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-text-4 {
    margin-top: 140px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 425px);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 982px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 669px);
    margin-top: 59px;
  }

  .u-section-1 .u-slider-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -805px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    margin: 481px calc(((100% - 720px) / 2)) -121px calc(((100% - 720px) / 2) + 205px);
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1071px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 515px);
    margin-top: 318px;
  }

  .u-section-1 .u-slider-1 {
    width: 540px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 439px;
    min-height: 401px;
    margin-top: -893px;
    margin-right: calc(((100% - 540px) / 2) + 26px);
  }

  .u-section-1 .u-text-1 {
    font-size: 2.625rem;
  }

  .u-section-1 .u-text-4 {
    margin: 541px calc(((100% - 540px) / 2)) -84px calc(((100% - 540px) / 2) + 25px);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 978px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
    min-height: 345px;
    margin-top: -208px;
  }

  .u-section-1 .u-group-1 {
    width: 312px;
    min-height: 424px;
    margin-top: -799px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 26px;
    padding-right: 25px;
    padding-bottom: 26px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: 164px;
    margin: 425px auto -65px;
  }
}